.header_content{
    width: 7.5rem;
    margin: 0 auto;
    height: 100%;
    padding-top: .4rem;
    padding-bottom: .2rem;
    background: #fff;
    background-color: white;
}
.login_header{
    width: 90%;
    margin: 0 auto;
    line-height: .8rem;
}
.active{
    color: #ff5a5f;
    border-bottom: 2px solid #ff5a5f;
}
.login_header a{
    margin-right: .5rem;
    font-size: .32rem;
    color: #666;
    text-align: center;
    font-weight: 500;
}

.login_box{
    box-sizing: border-box;
}
.login_box .input_group{
    box-sizing: border-box;
}
.input_group .input_item{
    width: 6.7rem;
    height: 1.1rem;
    margin: .16rem auto;
    position: relative;
}

.input_item .ipt{
    width: 100%;
    height: 100%;
    line-height: 1.2;
    padding-left: .05rem;
    font-size: .32rem;
    border-bottom: 1px solid #eee;
    border-radius: 0;
}

.input_item .ig{
    position: absolute;
    top: .14rem;
    right: .1rem;
    width: 1.94rem;
    height: .72rem;
    line-height: .6rem;
}
.input_item .input_code{
    position: absolute;
    top: .2rem;
    right: .1rem;
    width: 1.94rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .28rem;
    text-align: center;
    color: #ff5a5f;
    border-radius: 4px;
    border: 1px solid #ff5a5f;
}


/* 阅读 */
.agreement{
    width: 7.5rem;
    color: #888;
    font-size: .24rem;
    line-height: .34rem;
    padding: .4rem;
    display: -webkit-inline-box;    
}
.agreement .agreeimg1{
    width: .32rem;
    position: relative;
    top: 2px;
    margin-right: 4px;
}
.agreement .agreeimg2{
    width: 6.3rem;
}
.agreeimg2 .agreeimg3{
    color: #ff5a5f;
    font-size: .24rem;
    text-decoration: underline;
    display: inline;
}

/* 按钮 */
.btn_group{
    width: 100%;
    text-align: center;
}

.btn_group .submit_btn{
    width: 6.7rem;
    height: .88rem;
    margin: .2rem auto;
    margin-bottom: .3rem;
    color: #fff;
    font-size: .32rem;
    background: linear-gradient(90deg,#fe5164,#f77062);
    border-radius: .08rem;
}
.footer_group{
    width: 6.7rem;
    margin: 0 auto;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: .28rem;
    line-height: 1.4;
}

.footer_group .voice_verify{
    font-size: .28rem;
    text-align: right;
    color: #888;
}
.footer_group  .verify_voice{
    color: #ff5a5f;
}
.footer_group .footer_register{
    text-align: left;
    color: #ff5a5f;
}
.footer_group .voice_verify{
    text-align: right;
}
.voice_verify .a1{
    color: #888;
}

.fls{
    display:none;
}

