html{
    height: 100%;
    font-size:13.4vw;
}
body{
    height: 100%;
    font-size:16px;
}

ul li{
    list-style: none;
}

/*-----------------------*/
/* 列表页 */
.w_app{
    width: 100%;
    height: 100%;
    background: #efeff4;
    display: flex;
    flex-direction: column;
}
/* 头部 */
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: .28rem;
    line-height: .28rem;
    background: linear-gradient(90deg,#ed7a7a,#e94544);
    height: 3.12rem;
    position: relative;
}
.header .headcont{
    width: 100%;
    height: 1.12rem;
    padding-left: .3rem;
    position: absolute;
    left: 0;
    top: .52rem;
    display: flex;
    flex-direction: row;
}
.headcont .imgs{
      display: block;
      width:1.2rem;;
      height: 100%;
}
.headcont .nologin{
      color: #fff;
      font-size: .36rem;
      width: 2.72rem;
      text-align: left;
      margin-left: 0.4rem;
}

.nologin>span{
      margin-right: 0.1rem;
      margin-left: 0.1rem;
}
.nologin .spanto{
      width: 100%;
      height: 100%;
}

.membercenterBox{
      width: 1.84rem;
      height: .6rem;
      margin-top: .2rem;
      background-color: rgba(0,0,0,.08);
      border-radius: .36rem 0 0 .36rem;
      display: flex;  
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: end;
      justify-content: flex-end;
      padding-left: .2rem;
      padding-right: .3rem;
      margin-left: 7%;
}
.membercenterBox .yaoshi{
      color: #fff;
      font-size: .26rem;
      margin-right: .1rem;
      margin-bottom: 0rem !important;
}
.membercenterBox .legImg{
      height: .2rem;
      display: block;
      float: right;
}

.huiyuan{
      background: linear-gradient(90deg,#5b5655,#251f1f);
      height: .9rem;
      position: absolute;
      bottom: 0;
      left: .3rem;
      width: 6.9rem;
      border-top-left-radius: .16rem;
      border-top-right-radius: .16rem;
}
.huiyuan .logImg{
      width: 1.5rem;
      position: absolute;
      top: .3rem;
      left: .3rem;
}

/*----------------------------------------------------*/
/* 内容 */
.mains{
      flex: 1;
      display: flex;
      flex-direction: column;
     overflow: hidden;
}
.mains .func_container{
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #fff;
} 
.func_container .func_title{
      width: 100%;
      display: flex;
      font-size: .3rem;
      font-weight: 700;
      color: #333;
      line-height: .3rem;
      justify-items: center;
      padding: .3rem .2rem;
      border-bottom: .01rem solid #eee;
      -webkit-box-pack: justify;
      justify-content: space-between;
}
.func_title .tit{
      font-size: .3rem;
      color: #333;
}
.func_title .tit2{
      font-size: .24rem;
      color: #8e8e93;
      font-weight: 400;
}
.tit2 .qunImg{
      width: .1rem;
      margin-left: .2rem;
}

.func_container .func_list{
      padding: 0 .1rem 0;
      content: "\20";
      display: block;
      clear: both;
      font-size: 13px;
} 

.func_list .fl{
      width: 25%;
      text-align: center;
      float: left !important;
}

.fl .pimg{
     margin: 16% 0 11% 0;;
     position: relative;
}
.pimg .huoimg{
  width: .5rem;
  height: .5rem;
}

.fl .daifukuan{
      margin-bottom: 25%;
    margin-top: .1rem;
    line-height: .4rem;
    position: relative;
}
 
.func_container{
      display: flex;
      flex-direction: column;
    margin-bottom: 0.2rem;
    width: 100%;
    background-color: #fff;
}

.func_container .func_title{
    display: flex;
    font-size: .3rem;
    font-weight: 700;
    color: #333;
    line-height: .3rem;
    justify-items: center;
    padding: .3rem .2rem;
    border-bottom: .01rem solid #eee;
    -webkit-box-pack: justify;
    width: 100%;
    justify-content: space-between;
}

.func_title .tit{
      text-indent: .1rem;
      line-height: .3rem; 
      text-indent: .1rem;
      font-weight: 700;
      display: inline-block;
<<<<<<< HEAD
=======
}

.nologin .exit{
      cursor: pointer;
      line-height: .466667rem
>>>>>>> 67b56031352c56d8d9f89a7ba11398737ed39699
}